<html>
    <head>
        <title>Elmet Curtains Administration Portal</title> 
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/admin.js"></script>
        <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        
        <div>
            <ul class="sidebar">
                <li><a href="/admin/curtaindesign/index">Manage Curtain Designs</a></li>
                <li><a href="/admin/curtainpriceband/view">Manage Curtain Price Bands</a></li>
                <li><a href="/admin/curtaineyeletpriceband/view">Manage Curtain Eyelet Price Bands</a></li>
                <li><a href="/admin/curtainprice/index">Manage Prices</a></li>               
                <li><a href="/admin/pelmet/view">Manage Pelmet Prices</a></li>
                <li><a href="/admin/cushioncover/view">Manage Cushion Cover Prices</a></li>
                <li><a href="/admin/tieback/view">Manage Tie Back Prices</a></li>
                <li><a href="/admin/fabric/view">Manage Fabric Prices</a></li>
                <li><a href="/admin/testimonial/view">Manage Testimonials</a></li>
                <li><a href="/admin/order/search">Search Orders</a></li>
            </ul>
        </div>
    </body>
</html>