<html>
    <head>
        <title>Elmet Curtains Administration Portal</title>
        <link href="/css/elmet.css" rel="stylesheet" type="text/css" />
        <link href="/css/type.css" rel="stylesheet" type="text/css" />
        <link href="/css/nav.css" rel="stylesheet" type="text/css" />
        <style>
                div.left{
		width:220px;
		float:left;
		margin:12px 0 0 0;
		background-image:url(/img/right-bg.jpg);
		background-position:0 187px;
		background-repeat:no-repeat;
	}

        </style>
    </head>
    <body>
        
        <div class="left">
            <ul class="navigation">
                <li><a href="/admin/curtaindesign/index">Manage Curtain Designs</a></li>
                <li><a href="/admin/curtainpriceband/view">Manage Curtain Price Bands</a></li>
                <li><a href="/admin/curtaineyeletpriceband/view">Manage Curtain Eyelet Price Bands</a></li>
                <li><a href="/admin/curtainprice/index">Manage Prices</a></li>               
                <li><a href="/admin/pelmet/view">Manage Pelmet Prices</a></li>
                <li><a href="/admin/cushioncover/view">Manage Cushion Cover Prices</a></li>
                <li><a href="/admin/tieback/view">Manage Tie Back Prices</a></li>
                <li><a href="/admin/fabric/view">Manage Fabric Prices</a></li>
                <li><a href="/admin/testimonial/view">Manage Testimonials</a></li>
            </ul>
        </div>
            
        
    </body>
</html>