				table,td {
                    border: 1px solid #a8b758;
                }
                table,th,td, textarea, input, option {
                    text-align: left;
                    vertical-align:top;
                    font:0.9em Arial, Helvetica, sans-serif;
                }
                table {
                    border-collapse:collapse;
                }
                th {
                    font-weight: bold;
                    background-color:#a8b758;
                    color:white;
                }
                tr.odd {
                    background-color:#DCDCDC;
                    color:black;
                }
                tr.even {
                    background-color: #F8F8FF;
                    color:black;
                }
                
                tr.odd_strikethrough {
                    background-color:#DCDCDC;
                    color:black;
                    text-decoration: line-through
                }
                tr.even_strikethrough {
                    background-color: #F8F8FF;
                    color:black;
                    text-decoration: line-through
                }
                
                td.strikethrough {
                    text-decoration: line-through
                }
                
                td.edit {
                    font-weight: bold;
                    color: #556B2F;
                    text-decoration: none;
                    cursor: pointer;       
                }
                
                a {
                    font-weight: bold;
                    color: #556B2F;
			    text-decoration: none;     
                }
                
                input.submit {
                    vertical-align: middle;
                    text-align: center;
                }
				
				span.editAll {
                    font-weight: bold;
                    color: #556B2F;
                    text-decoration: none;
                    cursor: pointer;
                    float: right
                }
				
                input.submitAll {
                    vertical-align: middle;
                    text-align: center;
                }
                
                td.error {
                    color: red;
                    font:0.8em Arial, Helvetica, sans-serif;
                    font-style: italic;
                }
                
                .container {
                     width:1100px;
                }
                
                .left {
                    width: 300px;
                    float: left;
                }
                
                .right {
                    width: 800px;
                    float: right;
                }
                
                .breadcrumb {

                    float:left,top; 
                    width:300px; 
                    margin-bottom: 10px;   
                }
   
                .pagenav {
                    
                    float:left,top; 
                    width:800px;
                    text-align: left; 
                    margin-bottom: 10px
                }
  
                .page {
                     float:left; 
                     width:800px;
                }
                              
		.sidebar {
				
                    float: left;
                    width: 290px;
                    background-color: #F8F8FF;
                    border-style: solid;
                    border-width: 1px;
                    margin: 0px 10px 0px 0px;
                    padding: 0px;
                    text-align: left;
				
		}
     
                .sidebar ul {

                    list-style: none;

                }

                .sidebar li {
                    
                    list-style: none;
                }
                
                .sidebar a {
                
                    text-decoration: none;
                }

		.inputform tr, td {            
                
                    border: 0px;
                    padding: 5px;
            	}
                
		
			
		.breadcrumb span {

                    font-size: x-small;    
                }
     			
                .breadcrumb a {

                    font-weight: bold;
                    color: #556B2F;
                    text-decoration: none;
                    font-size: x-small;
			        
                }