
/*http://www.webcredible.co.uk/user-friendly-resources/css/css-round-corners.shtml*/

.navigation a
{
color: #333;
text-decoration: none;
padding-right: 15px;
font:0.8em Arial, Helvetica, sans-serif;
font-weight:bold;
}


.navigation a
{
display: block;
float: left;
padding: 4px 25px 4px 0;
margin:4px 0 0 0;
}

/* Hide from IE5-Mac \*/
.navigation a
{
float: none
}
/* End hide */

.navigation a:hover
{
color: #999;
}


.navigation ul
{
list-style: none;
padding: 0;
margin: 0;

}

.navigation li
{
float: left;
margin: 0;
padding:0;
list-style:none;
}

.navigation .right-nav{
margin:0 0 0 55px;
display:inline;
}

