{% extends 'ElmetAdminBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/adminsearch.js"></script>
{% endblock %}
{% block breadcrumb %}    
    <span>
         <a href="/admin/order/search">Search Orders</a>
     </span>
{% endblock %}
{% block body %}
     <form method="post" action="/admin/order/results" style="width: 550px" class="inputform">

         <table style="width: 500px">
             <tr>
                 <td><label for="custom">PayPal Custom Value:</label>
                 <td>
                     <input type="text" id="custom" name="custom"/>
                 </td>
              <td id="error_custom" class="error" style="display: none; width: 100px">Custom value should be a whole number</td>
             </tr>
             <tr>
                 <td><label for="email">Email Address</label>
                 <td>
                     <input type="text" id="email" name="email"/>
                 </td>
             </tr>
             <tr>
                 <td><label for="postcode">Post Code:</label>
                 <td>
                     <input type="text" id="postcode" name="postcode"/>
                 </td>
             </tr>
             <tr>
                 <td><label for="name">Name:</label>
                 <td>
                     <input type="text" id="name" name="name"/>
                 </td>
             </tr>
             <tr>
                 <td><label for="status">Order Status:</label>
                 <td>
                     <select name="status" id="status">
                         
                         <option value="Cancelled">Cancelled</option>
                         <option value="Dispatched">Dispatched</option>
                         <option value="Disputed">Disputed</option>
                         <option value="Paid">Paid</option>
                         <option value="Pending">Pending</option>

                     </select> 
                 </td>
             </tr>
         </table>
         <br/><input id="submit" name="submit" class="submitAll" type="submit" value="Search"/>
    </form>
{% endblock %}